:root {
    --main: 20, 21, 33;
    --secondary: 24, 25, 43;
    --third: 29, 30, 52;
    --highlight: 40, 42, 67;
    --contrast: 27, 129, 255;
    --text: 110, 114, 142;
    --red: 255, 88, 88;
    --error: 253, 72, 72;
}