@import '../../globals.scss';

.select-form {
    box-sizing: border-box;
	position: relative;
	font-family: 'Montserrat', sans-serif;
    .select {
        cursor: pointer;
        display: flex;
        align-items: center;
        box-sizing: border-box;
		border: 0;
		width: 100%;
		height: 2rem;
		background-color: rgba(var(--secondary), 1);
		padding-left: .7rem;
		padding-right: 1rem;
        padding-block: 1rem;
		border: 1px solid rgba(var(--third), 1);
		border-radius: 5px;
		transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1vh;
        p {
            color: rgba(var(--text), .5);
        }
        span {
            color: rgba(var(--text), .3);
        }
        &.select-error {
			border: 1px solid rgba(var(--error), .5);
		}
		&::placeholder {
			color: rgba(var(--text), .5);
		}
		&:focus {
			outline: none;
		}
    }
    .results {
		position: absolute;
		box-sizing: border-box;
		width: 99.8%;
		z-index: 2;
		background-color: rgba(var(--secondary), 1);
		border: 1px solid rgba(var(--third), 1);
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		overflow: auto;
		overflow-x: none;
		scroll-behavior: smooth;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: rgba(var(--third), 1); 
		}
		&::-webkit-scrollbar-thumb {
			background: rgba(var(--text), .1);
		}
		.result {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-inline: 1rem;
			height: 2.5rem;
			color: rgba(var(--text), .7);
			font-family: 'Montserrat', sans-serif;
			transition: background-color .2s ease-in-out;
			.text {
				display: flex;
				align-items: center;
				gap: .5rem;
				h1 {
					font-size: 1rem;
					font-weight: 500;
				}
			}
			&:hover {
				background-color: rgba(var(--third), 1);
			}
		}
	}
    .error-message {
		color: rgba(var(--error), .5);
		margin-bottom: .25rem;
		margin-left: .25rem;
		font-size: 1vh;
		font-weight: 500;
	}
}