@import '../../globals.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    display: grid;
	grid-template-columns: .20fr 1fr;
	overflow: hidden;
	padding: .85rem 1rem;
	width: 80%;
	height: 80%;
    background-color: rgba(var(--main), 1);
	box-shadow: 0px 0px 10px 0px rgba(var(--main), .5);
	border-radius: 20px;
}

.in {
    opacity: 1;
    display: grid;
}

.out {
    opacity: 0;
    display: none !important;
}

.anim-in {
    animation: transition_in .3s forwards;
}

.anim-out {
    animation: transition_out .3s forwards;
}

@keyframes transition_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes transition_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
