@import '../../globals.scss';

.code {
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 1rem;
    margin-block: 4vh;
    box-sizing: border-box;
    .code-icon {
        margin-block: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        color: rgba(var(--text), 1);
        text-align: center;
        font-weight: 700;
        i {
            font-size: 8vh;
        }
        h1 {
            font-size: 2.5vh;
            margin-top: 1.5rem;
            margin-inline: 1.5vw;
            max-width: 20vw;
            word-break: break-all;
        }
    }
    .code-information {
        margin-right: 2vw;
        .title {
            display: flex;
            align-items: center;
            margin-left: .5rem;
            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5vh;
                font-weight: 700;
                margin-bottom: .5rem;
                color: rgba(var(--text), 1);
            }
            i {
                cursor: pointer;
                font-size: 1.1vh;
                color: rgba(var(--text), 1);
                margin-left: .5rem;
                margin-bottom: .5rem;
            }
        }
        .data {
            display: flex;
            flex-direction: column;
            max-height: 10vh;
        }
    }
}