@import '../../globals.scss';

.button {
	cursor: pointer;
	border: 1px solid rgba(var(--third), 1);
	border-radius: 5px;
	box-sizing: border-box;
	height: 3vh;
	background-color: rgba(var(--secondary), 1);
    color: rgba(var(--text), .5);
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.2vh;
}