@import '../../globals.scss';

.game-map {
    margin: .5rem;
    height: 95%;
    width: 95%;
    border: 2px solid rgba(var(--third), 1);
    .leaflet-popup {
        .leaflet-popup-content-wrapper, .leaflet-popup-tip {
            text-align: center;
            font-size: .5vh;
            font-family: 'Montserrat', sans-serif;
            background-color: rgba(var(--main), 1);
            color: rgba(var(--text), 1);
            p {
                font-size: .8vh;
                max-width: 300px;
                word-break: break-all;
                white-space: pre-wrap;
            }
            button {
                scale: .95;
            }
        }
        .leaflet-popup-close-button {
            transition: color .2s ease-in-out;
            color: rgba(var(--text), 1);
            &:hover {
                color: rgba(var(--text), .7);
            }
        }
    }
    .leaflet-control-container {
        display: none;
    }
}